body {
    /*background-image: url("images/moon-22.jpg"), url("images/moon-12.jpg");*/
    /*background-repeat: repeat;*/
    /*cursor: url(images/blank.png), none;*/
    background-color: black;
    font-family: arial, sans-serif;
    font-size: 0.9em;
    color: #bbb;
}

.absolute_center {
  width: 50%;
  height: 50%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: -24px; left: 0; bottom: 0; right: 0;
}

.vertical_center {
  height: 56px;
  width: 14700px;
  margin: auto 5px;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

#sticky-footer {
  position:absolute;
  bottom:10px;
  padding-left: 12px;
}

#sticky-footer p {
  margin: 6px 0;
  color: red;
}

body.year_tiles {
  width: 14700px;
  font-size: 0.8em;
}

.row {
  clear: left;
}

div#preloader {
  position: absolute;
  left: -9999px;
  top:  -9999px;
  }

.moon {
  float: left;
  width: 40px;
  height: 56px;
  background-position: 2px 12px;
  background-size: 36px 36px;
  background-repeat: no-repeat;

}

.name {
  float: left;
  width: 88px;
  height: 40px;
  color: #999;
  padding-top: 16px;
  padding-left: 12px;
  white-space: nowrap;
  overflow: hidden;
}

.form-control {
  display: inline-block;
  line-height: 1.4em;
  width: auto; // Prevent labels from stacking above inputs in `.form-group`
  vertical-align: middle;
  margin-right: 10px;
}

.form-control label {
  line-height: 1.6em;
}
.form-control input {
  font-size: 1em;
  padding: 2px;
  margin: 1px;
  background-color: #eee;
}

.button {
  display: inline-block;
  font-size: 1em;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: 2px 6px 3px 6px;
}

#show-today-button {
  margin: 12px;
}
