body {
    /*background-image: url("images/moon-22.jpg"), url("images/moon-12.jpg");*/
    /*background-repeat: repeat;*/
    /*cursor: url(images/blank.png), none;*/
    background-color: black;
    color: white;
}
body.year {
  width: 14700px;
}

div#preloader {
  position: absolute;
  left: -9999px;
  top:  -9999px;
  }

.moon {
  float: left;
  width: 40px;
  height: 56px;
  background-position: 2px 12px;
  background-size: 36px 36px;
  background-repeat: no-repeat;

}

.name {
  float: left;
  width: 88px;
  height: 40px;
  color: #999;
  font-family: arial, sans-serif;
  font-size: 0.8em;
  padding-top: 16px;
  padding-left: 12px;
  white-space: nowrap;
  overflow: hidden;
}

.form-control {
  color: #bbb;
  font-family: arial, sans-serif;
  font-size: 0.8em;
  display: inline-block;
  width: auto; // Prevent labels from stacking above inputs in `.form-group`
  vertical-align: middle;
  margin-right: 10px;
}

.form-control input {
  padding: 2px;
  margin: 1px;
}

.button {
  display: inline-block;
  font-family: arial, sans-serif;
  font-size: 0.8em;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  paddig: 4px;
