body {
    /*background-image: url("images/moon-22.jpg"), url("images/moon-12.jpg");*/
    /*background-repeat: repeat;*/
    /*cursor: url(images/blank.png), none;*/
    background-color: black;
    font-family: arial, sans-serif;
    font-size: 0.9em;
    color: #bbb;
}

.absolute_center {
  width: 50%;
  height: 50%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: -24px; left: 0; bottom: 0; right: 0;
}

.vertical_center {
  height: 56px;
  width: 7210px;
  margin: auto 5px;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

#sticky-footer {
  position:absolute;
  bottom:10px;
  padding-left: 12px;
}

#sticky-footer p {
  margin: 6px 0;

}

#sticky-footer p a, #sticky-footer p a:hover, #sticky-footer p a:visited {
  color: red;
  text-decoration: none;
}

body.year_tiles {
  width: 7210px;
  font-size: 0.8em;
}

.row {
  clear: left;
}

div#preloader {
  position: absolute;
  left: -9999px;
  top:  -9999px;
  }

.moon {
  float: left;
  width: 40px;
  height: 56px;
  background-position: 2px 12px;
  background-size: 36px 36px;
  background-repeat: no-repeat;

}

.name {
  float: left;
  width: 88px;
  height: 40px;
  color: #999;
  padding-top: 16px;
  padding-left: 12px;
  white-space: nowrap;
  overflow: hidden;
}

#user-form {
  margin-bottom: 20px;
}

.form-control {
  display: inline-block;
  line-height: 1.4em;
  width: auto; // Prevent labels from stacking above inputs in `.form-group`
  vertical-align: middle;
  margin-right: 10px;
}

.form-control label {
  line-height: 1.6em;
}
.form-control input {
  font-size: 1em;
  padding: 2px;
  margin: 1px;
  background-color: #eee;
}

.button {
  display: inline-block;
  color: red;
  text-transform: uppercase;
  font-size: 1em;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: 2px 6px 3px 6px;
}

#show-today-button {
  margin: 12px;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    color: #666;
}

.modal-body {
    padding: 2px 16px;
    color: #666;
    line-height: 1.5em;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}
